.centro{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.rosso{
    color: red;
}

hr{
    color: red;
}

.em{
    width: 100px;
}

.nomi{
    background-color: beige;
}